<div *ngIf="isLogin" appLoading [loading]="sheetsGetting">
  <ul class="sheets" *ngIf="userId !== 1">
    <li class="sheet" [routerLink]="['/sheetList', 1]">
      系统歌单
      <app-async-click class="sheetRight" [inline]="true"> </app-async-click>
    </li>
  </ul>
  <div *ngIf="sheets.length">
    <ul *ngFor="let sheet of sheets" class="sheets">
      <li class="sheet" [title]="sheet.sheetName" [routerLink]="['/sheetList', sheet.id]">
        {{ sheet.sheetName }}
        <app-async-click
          class="sheetRight"
          [param]="{ id: sheet.id }"
          [handleClick]="handleDelete"
          [inline]="true"
        >
          <span class="delete"></span>
        </app-async-click>
      </li>
    </ul>
  </div>
  <div *ngIf="!creating">
    <app-button (click)="creating = true">创建歌单</app-button>
  </div>
  <div *ngIf="creating" appRow [flex]="true" [flexNowrap]="true" [gutter]="4">
    <input
      size="5"
      appInput
      appCol
      [flex]="'auto'"
      [(ngModel)]="sheetName"
      [disabled]="isCreating"
    />
    <app-button
      appCol
      [flex]="'none'"
      [handleClick]="handleCreate"
      (loadingStatus)="isCreating = $event"
      >创建</app-button
    >
    <app-button appCol [flex]="'none'" (click)="creating = false" [loading]="isCreating"
      >取消</app-button
    >
  </div>
</div>
<div *ngIf="!isLogin" appRow [gutter]="8">
  <app-button appCol routerLink="/user/login">登录</app-button>
  <app-button appCol routerLink="/user/register">注册</app-button>
</div>
