<div class="search">
  <input
    type="text"
    appInput
    placeholder="搜索歌曲"
    [(ngModel)]="searchContent"
    (keydown)="handleKeyDown($event)"
  />
</div>
<div class="searchTable">
  <app-table
    [data]="result"
    [scroll]="{ y: scrollY }"
    [columns]="columns"
    [columnTemp]="{ operation }"
  >
    <ng-template #operation let-data="data" let-index="index" let-key="key">
      <div>
        <span class="playFill" (click)="handlePlay(data)"></span>
      </div>
    </ng-template>
  </app-table>
</div>
<div class="tablePagination">
  <app-pagination
    [total]="total"
    [pageNo]="pageNo"
    (pageNoChange)="handleChange($event)"
  ></app-pagination>
</div>
