<footer class="footer">
  <div class="footer-content">
    <div appRow [flex]="true">
      <div appCol [span]="8">
        <div appRow [flex]="true" [gutter]="4">
          <div appCol [flex]="'0 0 60px'" class="musicHead">
            <img [attr.src]="" alt="" />
          </div>
          <div appCol [flex]="'auto'">
            <div class="title">
              光亮
              <span class="autum">周深</span>
            </div>
            <div class="operation"></div>
          </div>
        </div>
      </div>
      <div appCol [span]="8" [algin]="'center'">
        <div class="middle flex-justify-center">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div appCol [span]="8" [algin]="'right'">
        <div class="middle flex-justify-end">
          <span>00:00/00:00</span>
          <span>list</span>
        </div>
      </div>
    </div>
  </div>
  <audio
    (play)="handlePlay()"
    (pause)="handlePause()"
    id="audio"
    src="../../../assets/光亮.mp3"
  ></audio>
</footer>
