<footer class="footer">
  <div class="track">
    <span class="point rotateFill" [style.left]="playMsg.progress + '%'"></span>
  </div>
  <input
    type="range"
    class="songProgress"
    min="0"
    max="100"
    step="0.01"
    value="{{ playMsg.progress }}"
    [disabled]="!playMsg.durationTime"
    (change)="handleChangeCurrrentTime($event)"
  />
  <div class="footer-content">
    <div appRow [flex]="true">
      <div appCol [span]="8">
        <div appRow [flex]="true" [gutter]="4">
          <div appCol [flex]="'0 0 60px'" class="musicHead" (click)="handleSwithCanvas()">
            <img [attr.src]="songMsg?.imgUrl || defaultBG" alt="" />
          </div>
          <div appCol [flex]="'auto'">
            <div class="title">
              {{ songMsg?.name }}
              <span class="autum">{{ songMsg?.artists | arrayItemJoin: 'name':',' }}</span>
            </div>
            <div class="operation"></div>
          </div>
        </div>
      </div>
      <div appCol [span]="8" [algin]="'center'">
        <div class="middle flex-justify-center audioControl">
          <span *ngIf="playMode === 1" class="loopFill smallIcon" (click)="changePlayMode()"></span>
          <span
            *ngIf="playMode === 2"
            class="loopFill loopOnce smallIcon"
            (click)="changePlayMode()"
          ></span>
          <span
            *ngIf="playMode === 3"
            class="randomFill smallIcon"
            (click)="changePlayMode()"
          ></span>
          <span
            *ngIf="playMode === 0"
            class="orderFill smallIcon"
            (click)="changePlayMode()"
          ></span>
          <span class="preFill" (click)="handlePre()"></span>
          <span *ngIf="!shouldAnalyser" class="playFill" (click)="handlePlay()"></span>
          <span *ngIf="shouldAnalyser" class="pauseFill" (click)="handlePause()"></span>
          <span class="nextFill" (click)="handleNext()"></span>
          <span class="stopFill" *ngIf="songMsg" (click)="handleStop()"></span>
          <span class="volume">
            <span
              *ngIf="playMsg.volume > 0"
              class="voiceFillOpen smallIcon"
              (click)="playMsg.volume = 0"
            ></span>
            <span
              *ngIf="playMsg.volume === 0"
              class="voiceFillClose smallIcon"
              (click)="playMsg.volume = 50"
            ></span>
            <input
              type="range"
              min="0"
              max="100"
              step="1"
              [value]="playMsg.volume"
              class="volumeRange"
              (change)="handleChangeVolume($event)"
            />
          </span>
        </div>
      </div>
      <div appCol [span]="8" [algin]="'right'">
        <div class="middle flex-justify-end">
          <span
            >{{ playMsg.currentTime * 1000 | date: 'mm:ss' }}/{{
              playMsg.durationTime * 1000 | date: 'mm:ss'
            }}</span
          >
          <span class="playlistFill"></span>
        </div>
      </div>
    </div>
  </div>
  <audio id="audio" crossorigin="anonymous"></audio>
</footer>
