@import '../../styles/themes/default.less';
@import '../../styles/mixin/mixin.less';

.app-button{
  .default-component();
  height: @height-input-base;
  line-height: calc(@height-input-base - 2px);
  padding: 0 @padding-sm;
  border: 1px solid @border-color-base;
  border-radius: 4px;
  cursor: pointer;
  color: @color-text-primary;
  
  &-loading{
    padding-right: @padding-lg;
    position: relative;

    &::after {
      content: '\e61d';
      position: absolute;
      top: 0;
      right: 3px;
      font-family: 'iconfont';
      color: #fff;
      text-align: center;
      font-size: 18px;
      animation: 1s linear 0s infinite forwards loading;
    }
  }

  &[disabled],
  &-disabled {
    cursor: not-allowed;
    border: @btn-disable-color;
    background-color: @btn-disable-bg;
    border-color: transparent;
  }
}