/* You can add global styles to this file, and also import other style files */
@import './app/styles/index.less';

/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 3255348 */
  src: url('//at.alicdn.com/t/c/font_3255348_5mqbwca4gln.woff2?t=1692342163693') format('woff2'),
       url('//at.alicdn.com/t/c/font_3255348_5mqbwca4gln.woff?t=1692342163693') format('woff'),
       url('//at.alicdn.com/t/c/font_3255348_5mqbwca4gln.ttf?t=1692342163693') format('truetype');
}

body,
body * {
  // background: @color-bg-pages;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}
body,
h1,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
iframe {
  margin: 0;
  padding: 0;
}

.clearfix {
  zoom: 1;
}
.clearfix:after {
  display: block;
  clear: both;
  content: '';
}
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-thumb {
  width: 5px;
  height: 5px;
  background: #d9d9d9;
  border-radius: 5px;
}
