/* You can add global styles to this file, and also import other style files */
@import './app/styles/index.less';

@font-face {
  font-family: 'iconfont';  /* Project id 3255348 */
  src: url('//at.alicdn.com/t/c/font_3255348_u3altc10588.woff2?t=1682229221001') format('woff2'),
       url('//at.alicdn.com/t/c/font_3255348_u3altc10588.woff?t=1682229221001') format('woff'),
       url('//at.alicdn.com/t/c/font_3255348_u3altc10588.ttf?t=1682229221001') format('truetype');
}

body,
body * {
  // background: @color-bg-pages;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}
body,
h1,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
iframe {
  margin: 0;
  padding: 0;
}

.clearfix {
  *zoom: 1;
}
.clearfix:after {
  display: block;
  clear: both;
  content: '';
}
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-thumb {
  width: 5px;
  height: 5px;
  background: #d9d9d9;
  border-radius: 5px;
}
