@import '../../../styles/themes/default.less';

.content {
  height: calc(100vh - 85px);
  overflow: hidden auto;
  margin-bottom: @footer-height;
}
.sider {
  height: calc(100vh - @footer-height);
  background-color: @color-bg-main-content;
  padding: @padding-lg;
}
.logo {
  width: 100%;
  font-size: 20px;
  margin-bottom: @margin-lg;
}
