<div class="music-box">
  <div appRow [gutter]="12" [flex]="true" [flexNowrap]="true">
    <div appCol [md]="16" [xs]="24" class="root-field">root directory:{{ root }}</div>
    <div appCol [md]="8" [xs]="24">
      <input
        type="text"
        style="width: 100%"
        appInput
        [(ngModel)]="searchName"
        (keydown)="handleResearch($event)"
      />
    </div>
  </div>
  <div appRow [gutter]="12" [flex]="true" [flexNowrap]="true">
    <div appCol [md]="6" [xs]="24">
      <ul class="file-list">
        <li
          *ngFor="let li of library"
          [class.active]="li === activeFile"
          (click)="handleActive(li)"
        >
          {{ li }}
        </li>
      </ul>
    </div>
    <div appCol [md]="6" [xs]="24">
      <div class="file-card">
        <div class="layout-router">
          <input type="radio" id="contactChoice1" [(ngModel)]="oldOrNew" value="old" />
          <label for="contactChoice1">原始Tags</label>

          <input type="radio" id="contactChoice2" [(ngModel)]="oldOrNew" value="new" />
          <label for="contactChoice2">新Tags</label>
        </div>
        <div [ngSwitch]="oldOrNew">
          <ng-container *ngSwitchCase="'old'">
            <ng-container *ngIf="oldFileID3">
              <div class="img-wrap">
                <div class="img-box">
                  <img [src]="oldImgUrl" alt="" />
                </div>
              </div>
              <ul>
                <li>歌名：{{ oldFileID3.title }}</li>
                <li>歌手：{{ oldFileID3.artist }}</li>
                <li>专辑：{{ oldFileID3.album }}</li>
                <li>时长：{{ oldFileID3.comment?.text }}</li>
                <li>年份：{{ oldFileID3.year }}</li>
                <li>原始年份：{{ oldFileID3.originalYear }}</li>
                <li>轨道编号：{{ oldFileID3.trackNumber }}</li>
                <li>发行商：{{ oldFileID3.publisher }}</li>
              </ul>
            </ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'new'">
            <ng-container *ngIf="fileID3">
              <div class="img-wrap">
                <div class="img-box">
                  <img [src]="imgUrl" alt="" />
                </div>
              </div>
              <ul>
                <li>歌名：{{ fileID3.title }}</li>
                <li>歌手：{{ fileID3.artist }}</li>
                <li>专辑：{{ fileID3.album }}</li>
                <li>时长：{{ fileID3.comment?.text }}</li>
                <li>年份：{{ fileID3.year }}</li>
                <li>原始年份：{{ fileID3.originalYear }}</li>
              </ul>
              <app-button [handleClick]="setTags">设置为新tags</app-button>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
    <div appCol [md]="12" [xs]="24">
      <app-table
        [borderd]="true"
        [data]="songs"
        [small]="true"
        [columns]="columns"
        [columnTemp]="{ operation }"
      >
        <ng-template #operation let-data="data" let-index="index" let-key="key">
          <div>
            <ng-container [ngSwitch]="data.id === tableSelectId">
              <span *ngSwitchCase="true" class="rightFill"></span>
              <app-async-click *ngSwitchCase="false" [handleClick]="getMsg" [param]="data">
                <span class="leftArrowFromLeftFill"></span>
              </app-async-click>
            </ng-container>
          </div>
        </ng-template>
      </app-table>
      <div class="table-pagination">
        <app-pagination
          [total]="total"
          [pageNo]="pageNo"
          [pageSize]="10"
          (pageNoChange)="handlePageChange($event)"
        ></app-pagination>
      </div>
    </div>
  </div>
</div>
