.delete {
  &::after {
    content: '\e67e';
    font-family: 'iconfont';
  }
}

.close {
  &::after {
    font-family: 'iconfont';
    content: '\e6dd';
  }
}

.loading {
  &::after {
    content: '\e61d';
    font-family: 'iconfont';
  }
}

.playFill {
  &::after {
    content: '\e718';
    font-family: 'iconfont';
  }
}

.voiceFillOpen {
  &::after {
    content: '\e667';
    font-family: 'iconfont';
  }
}

.voiceFillClose {
  &::after {
    content: '\e668';
    font-family: 'iconfont';
  }
}

.preFill {
  &::after {
    content: '\e653';
    font-family: 'iconfont';
  }
}

.nextFill {
  &::after {
    content: '\e652';
    font-family: 'iconfont';
  }
}

.pauseFill {
  &::after {
    content: '\e600';
    font-family: 'iconfont';
  }
}

.stopFill {
  &::after {
    content: '\e72f';
    font-family: 'iconfont';
  }
}

.randomFill {
  &::after {
    content: '\e6e8';
    font-family: 'iconfont';
  }
}

.orderFill {
  &::after {
    content: '\e638';
    font-family: 'iconfont';
  }
}

.loopFill {
  &::after {
    content: '\e79a';
    font-family: 'iconfont';
  }
}

.playlistFill {
  &::after {
    content: '\e810';
    font-family: 'iconfont';
  }
}

.visualizeFill {
  &::after {
    content: '\e8a5';
    font-family: 'iconfont';
  }
}

.rotateFill {
  &::after {
    content: '\e629';
    font-family: 'iconfont';
  }
}
