@import '../../styles/themes/default.less';

.canvas-box {
  width: 100%;
  height: 100%;
  padding: @padding-lg;
  position: relative;
  .close {
    position: absolute;
    font-size: 32px;
    right: @padding-lg;
    top: @padding-lg;
  }
}
.canvas {
  width: 100%;
  height: 100%;
}
